.movie__list {
    padding: 0 3rem 3rem 3rem;
}

.list__title {
font-size: 1.75rem;
margin:  2.5rem;
}

.list__cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
.list__cards{
    display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 8px 19px;
        grid-auto-flow: row;
        grid-template-areas:

          ". ."
          ". ."
          ". ."
          ". ."
          ". ."
          ". ."
          ". ."
          ". ."
          ". ."
          ". .";
          padding: 12px;
}
.list__title {
    font-size: 1.75rem;
    text-align: center;
    margin: 1.5rem;
}

}